---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { sanityClient } from "sanity:client";

export async function getStaticPaths() {
  return await sanityClient.fetch(`*[_type == "post"]`);
}

const posts = await getStaticPaths();
---

<BaseLayout title="Blog Posts">
  <main class="prose px-12 py-6">
    <h1>Blog</h1>
    <ul>
      {
        posts.map((post: any) => {
          return (
            <li>
              <a class="link link-hover" href={`/blog/${post.slug.current}`}>
                {post.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
</BaseLayout>
